body {
    background-color: #4070b7;
}

.login-header {
    padding: 20px;
    font-size: large;
    font-weight: bold;
    background-color: #35384c;
    color: white;
}

.login-content {
    padding: 20px;
    width: 100%;
    min-height: 200px;
    background-color: white;
    color: #35384c;
}

.login-content h1 {
    font-weight: bold;
}

.login-foot {
    float: right;
    padding: 20px;
    color: #eee;
    font-size: small;
}

.error {
    color: red;
    font-weight: bold;
}

.login-form {
    margin: 0 auto;
    padding: 20px;
    min-width: 600px;
    max-width: 600px;
}

.login-form button {
    padding: 5px 20px;
    background-color: #35384c;
    color: white;
}